### Example of ETL

In [1]:
# Dependencies
import pandas as pd
import seaborn as sns

from sqlalchemy import create_engine

In [2]:
# Create database connection
connection_string= 'postgresql+psycopg2://postgres:alvin1997@localhost:5432/airbnb_project'
engine = create_engine(connection_string)

In [3]:
data = pd.read_csv("./Resources/air_bnb_data.csv")

In [4]:
data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,12937,"1 Stop fr. Manhattan! Private Suite,Landmark B...",50124,Orestes,Queens,Long Island City,40.74771,-73.94740,Private room,130,3,248,01/07/2019,2.25,1,215
1,18198,Little King of Queens,70091,Justin,Queens,Woodside,40.75038,-73.90334,Private room,70,30,25,31/05/2019,0.22,1,324
2,32363,Fully Furnished Basement Apartment,140025,Fredah,Queens,Flushing,40.74028,-73.83168,Private room,140,2,1,19/09/2011,0.01,1,1
3,39593,"A room w/ a Manhattan view, longer stay",110506,Myung,Queens,Sunnyside,40.74559,-73.92313,Private room,79,30,28,12/04/2019,0.26,1,126
4,45910,Beautiful Queens Brownstone! - 5BR,204539,Mark,Queens,Ridgewood,40.70382,-73.89797,Entire home/apt,350,8,10,12/05/2019,0.11,5,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5661,36458668,"2beds Private Room Step to LGA, CitiFiled, Mid...",217463199,Marvy,Queens,Flushing,40.74387,-73.82556,Private room,68,3,0,01/01/1900,0.00,4,362
5662,36469741,Comfortable & Big room with 2 beds!,274012871,Stefan,Queens,Long Island City,40.76726,-73.93936,Private room,93,2,0,01/01/1900,0.00,2,14
5663,36472710,CozyHideAway Suite,274225617,Alberth,Queens,Briarwood,40.70786,-73.81448,Entire home/apt,58,1,0,01/01/1900,0.00,1,159
5664,36479723,Room for rest,41326856,Jeerathinan,Queens,Elmhurst,40.74477,-73.87727,Private room,45,1,0,01/01/1900,0.00,5,172
5665,36484363,QUIT PRIVATE HOUSE,107716952,Michael,Queens,Jamaica,40.69137,-73.80844,Private room,65,1,0,01/01/1900,0.00,2,163

In [7]:
# This is just a test to see if I have a connection to postgresql
# pd.read_sql('select * from actor', engine)

In [5]:
data.to_sql('airbnb', engine, index=False)

666