In [2]:
# Dependencies
import pandas as pd
import seaborn as sns
from sqlalchemy.ext.automap import automap_base

from sqlalchemy import create_engine

In [3]:
# Create database connection
connection_string= 'postgresql+psycopg2://postgres:alvin1997@localhost:5432/airbnb_project'
engine = create_engine(connection_string)

### Get the AVG of AGE for male and female

In [3]:
%%time
pd.read_sql('select * from airbnb', engine).groupby('neighbourhood')['price'].mean()

CPU times: total: 109 ms
Wall time: 532 ms

neighbourhood
Arverne                171.779221
Astoria                117.187778
Bay Terrace            142.000000
Bayside                157.948718
Bayswater               87.470588
Belle Harbor           171.500000
Bellerose               99.357143
Breezy Point           213.333333
Briarwood              105.875000
Cambria Heights         81.730769
College Point           88.000000
Corona                  59.171875
Ditmars Steinway        95.029126
Douglaston              82.750000
East Elmhurst           81.183784
Edgemere                94.727273
Elmhurst                80.459916
Far Rockaway           165.862069
Flushing                93.514085
Forest Hills           121.625000
Fresh Meadows           99.500000
Glendale                90.796296
Hollis                  88.642857
Holliswood             135.750000
Howard Beach           115.400000
Jackson Heights         80.897849
Jamaica                 95.770563
Jamaica Estates        182.947368
Jamaica Hills          132.125000
Kew Gardens             88.375000
Kew Gardens Hills      112.307692
Laurelton               95.333333
Little Neck             75.200000
Long Island City       127.465549
Maspeth                 83.645455
Middle Village         109.580645
Neponsit               274.666667
Ozone Park              85.274194
Queens Village          83.933333
Rego Park               83.877358
Richmond Hill           87.117021
Ridgewood               77.184397
Rockaway Beach         132.178571
Rosedale                76.694915
South Ozone Park        82.400000
Springfield Gardens     94.235294
St. Albans             100.828947
Sunnyside               84.865014
Whitestone             107.545455
Woodhaven               67.170455
Woodside                85.097872
Name: price, dtype: float64

In [4]:
%%time
response = pd.read_sql('select neighbourhood, avg(price) from airbnb group by neighbourhood', engine)
### One option would be to send to JS a list of dicts
response = response.to_dict(orient='records')
response

CPU times: total: 15.6 ms
Wall time: 228 ms

[{'neighbourhood': 'St. Albans', 'avg': 100.82894736842105},
 {'neighbourhood': 'Ozone Park', 'avg': 85.2741935483871},
 {'neighbourhood': 'Douglaston', 'avg': 82.75},
 {'neighbourhood': 'Maspeth', 'avg': 83.64545454545454},
 {'neighbourhood': 'Hollis', 'avg': 88.64285714285714},
 {'neighbourhood': 'Forest Hills', 'avg': 121.625},
 {'neighbourhood': 'Ridgewood', 'avg': 77.18439716312056},
 {'neighbourhood': 'Rosedale', 'avg': 76.69491525423729},
 {'neighbourhood': 'Neponsit', 'avg': 274.6666666666667},
 {'neighbourhood': 'Little Neck', 'avg': 75.2},
 {'neighbourhood': 'Holliswood', 'avg': 135.75},
 {'neighbourhood': 'Jamaica Estates', 'avg': 182.94736842105263},
 {'neighbourhood': 'Queens Village', 'avg': 83.93333333333334},
 {'neighbourhood': 'Jamaica', 'avg': 95.77056277056278},
 {'neighbourhood': 'Woodhaven', 'avg': 67.17045454545455},
 {'neighbourhood': 'Kew Gardens Hills', 'avg': 112.3076923076923},
 {'neighbourhood': 'Howard Beach', 'avg': 115.4},
 {'neighbourhood': 'Long Island City', 'avg': 127.46554934823091},
 {'neighbourhood': 'Woodside', 'avg': 85.09787234042552},
 {'neighbourhood': 'Jamaica Hills', 'avg': 132.125},
 {'neighbourhood': 'Rockaway Beach', 'avg': 132.17857142857142},
 {'neighbourhood': 'Richmond Hill', 'avg': 87.11702127659575},
 {'neighbourhood': 'Corona', 'avg': 59.171875},
 {'neighbourhood': 'Briarwood', 'avg': 105.875},
 {'neighbourhood': 'Springfield Gardens', 'avg': 94.23529411764706},
 {'neighbourhood': 'Far Rockaway', 'avg': 165.86206896551724},
 {'neighbourhood': 'Bellerose', 'avg': 99.35714285714286},
 {'neighbourhood': 'Arverne', 'avg': 171.7792207792208},
 {'neighbourhood': 'Ditmars Steinway', 'avg': 95.02912621359224},
 {'neighbourhood': 'Breezy Point', 'avg': 213.33333333333334},
 {'neighbourhood': 'College Point', 'avg': 88.0},
 {'neighbourhood': 'Sunnyside', 'avg': 84.86501377410468},
 {'neighbourhood': 'Bayswater', 'avg': 87.47058823529412},
 {'neighbourhood': 'Laurelton', 'avg': 95.33333333333333},
 {'neighbourhood': 'South Ozone Park', 'avg': 82.4},
 {'neighbourhood': 'Belle Harbor', 'avg': 171.5},
 {'neighbourhood': 'Glendale', 'avg': 90.79629629629629},
 {'neighbourhood': 'Cambria Heights', 'avg': 81.73076923076923},
 {'neighbourhood': 'Rego Park', 'avg': 83.87735849056604},
 {'neighbourhood': 'Elmhurst', 'avg': 80.45991561181435},
 {'neighbourhood': 'Bayside', 'avg': 157.94871794871796},
 {'neighbourhood': 'Whitestone', 'avg': 107.54545454545455},
 {'neighbourhood': 'Kew Gardens', 'avg': 88.375},
 {'neighbourhood': 'Bay Terrace', 'avg': 142.0},
 {'neighbourhood': 'Jackson Heights', 'avg': 80.89784946236558},
 {'neighbourhood': 'Astoria', 'avg': 117.18777777777778},
 {'neighbourhood': 'Fresh Meadows', 'avg': 99.5},
 {'neighbourhood': 'Flushing', 'avg': 93.51408450704226},
 {'neighbourhood': 'East Elmhurst', 'avg': 81.18378378378378},
 {'neighbourhood': 'Edgemere', 'avg': 94.72727272727273},
 {'neighbourhood': 'Middle Village', 'avg': 109.58064516129032}]

In [5]:
### The best aproach is to create the data structures that JS needs
response = pd.read_sql('select neighbourhood, avg(price) from airbnb group by neighbourhood', engine)
response = {
    'labels': response['neighbourhood'].to_list(),
    'values': response['avg'].to_list(),
}
response

{'labels': ['St. Albans',
  'Ozone Park',
  'Douglaston',
  'Maspeth',
  'Hollis',
  'Forest Hills',
  'Ridgewood',
  'Rosedale',
  'Neponsit',
  'Little Neck',
  'Holliswood',
  'Jamaica Estates',
  'Queens Village',
  'Jamaica',
  'Woodhaven',
  'Kew Gardens Hills',
  'Howard Beach',
  'Long Island City',
  'Woodside',
  'Jamaica Hills',
  'Rockaway Beach',
  'Richmond Hill',
  'Corona',
  'Briarwood',
  'Springfield Gardens',
  'Far Rockaway',
  'Bellerose',
  'Arverne',
  'Ditmars Steinway',
  'Breezy Point',
  'College Point',
  'Sunnyside',
  'Bayswater',
  'Laurelton',
  'South Ozone Park',
  'Belle Harbor',
  'Glendale',
  'Cambria Heights',
  'Rego Park',
  'Elmhurst',
  'Bayside',
  'Whitestone',
  'Kew Gardens',
  'Bay Terrace',
  'Jackson Heights',
  'Astoria',
  'Fresh Meadows',
  'Flushing',
  'East Elmhurst',
  'Edgemere',
  'Middle Village'],
 'values': [100.82894736842105,
  85.2741935483871,
  82.75,
  83.64545454545454,
  88.64285714285714,
  121.625,
  77.18439716312056,
  76.69491525423729,
  274.6666666666667,
  75.2,
  135.75,
  182.94736842105263,
  83.93333333333334,
  95.77056277056278,
  67.17045454545455,
  112.3076923076923,
  115.4,
  127.46554934823091,
  85.09787234042552,
  132.125,
  132.17857142857142,
  87.11702127659575,
  59.171875,
  105.875,
  94.23529411764706,
  165.86206896551724,
  99.35714285714286,
  171.7792207792208,
  95.02912621359224,
  213.33333333333334,
  88.0,
  84.86501377410468,
  87.47058823529412,
  95.33333333333333,
  82.4,
  171.5,
  90.79629629629629,
  81.73076923076923,
  83.87735849056604,
  80.45991561181435,
  157.94871794871796,
  107.54545454545455,
  88.375,
  142.0,
  80.89784946236558,
  117.18777777777778,
  99.5,
  93.51408450704226,
  81.18378378378378,
  94.72727272727273,
  109.58064516129032]}

In [4]:
response = pd.read_sql("select * from airbnb where room_type= 'Shared room' or room_type= 'Entire home/apt' ", engine)
response

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,45910,Beautiful Queens Brownstone! - 5BR,204539,Mark,Queens,Ridgewood,40.70382,-73.89797,Entire home/apt,350,8,10,12/05/2019,0.11,5,365
1,53469,cozy studio with parking spot,204539,Mark,Queens,Middle Village,40.71722,-73.87856,Entire home/apt,98,30,33,09/05/2015,0.31,5,240
2,53477,3 floors of luxury!,204539,Mark,Queens,Middle Village,40.71546,-73.87854,Entire home/apt,265,7,38,27/04/2019,0.38,5,365
3,57166,Elegant NYC Pad,272006,Vasili,Queens,Ditmars Steinway,40.77185,-73.90502,Entire home/apt,140,2,17,17/06/2019,0.16,1,292
4,59121,"Nice, clean, safe, convenient 3BR",204539,Mark,Queens,Ridgewood,40.70411,-73.89934,Entire home/apt,140,14,1,17/09/2012,0.01,5,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2289,36448708,Entire 3 Bedroom Astoria Apartment,183211776,Rafael,Queens,Astoria,40.76491,-73.90959,Entire home/apt,169,1,0,01/01/1900,0.00,4,28
2290,36452965,"❥❥NYC Apt: 4min/subway, 25m/city, 20m/LGA,JFK❥❥",63272360,Annie Lawrence,Queens,Woodhaven,40.69389,-73.86823,Entire home/apt,140,3,0,01/01/1900,0.00,6,232
2291,36453030,Astoria Luxury Studio Aprtment near Broadway,8655014,Anton,Queens,Astoria,40.76267,-73.92610,Entire home/apt,210,7,0,01/01/1900,0.00,1,12
2292,36457832,"❥NYC Apt: 4min/subway, 25m/city, 20m/LGA,JFK❥",63272360,Annie Lawrence,Queens,Woodhaven,40.69482,-73.86618,Entire home/apt,85,3,0,01/01/1900,0.00,6,300
2293,36472710,CozyHideAway Suite,274225617,Alberth,Queens,Briarwood,40.70786,-73.81448,Entire home/apt,58,1,0,01/01/1900,0.00,1,159

In [4]:
response2 = pd.read_sql('select neighbourhood, avg(price) from airbnb group by neighbourhood', engine)
response2

          neighbourhood         avg
0            St. Albans  100.828947
1            Ozone Park   85.274194
2            Douglaston   82.750000
3               Maspeth   83.645455
4                Hollis   88.642857
5          Forest Hills  121.625000
6             Ridgewood   77.184397
7              Rosedale   76.694915
8              Neponsit  274.666667
9           Little Neck   75.200000
10           Holliswood  135.750000
11      Jamaica Estates  182.947368
12       Queens Village   83.933333
13              Jamaica   95.770563
14            Woodhaven   67.170455
15    Kew Gardens Hills  112.307692
16         Howard Beach  115.400000
17     Long Island City  127.465549
18             Woodside   85.097872
19        Jamaica Hills  132.125000
20       Rockaway Beach  132.178571
21        Richmond Hill   87.117021
22               Corona   59.171875
23            Briarwood  105.875000
24  Springfield Gardens   94.235294
25         Far Rockaway  165.862069
26            Bellerose   99.357143
27              Arverne  171.779221
28     Ditmars Steinway   95.029126
29         Breezy Point  213.333333
30        College Point   88.000000
31            Sunnyside   84.865014
32            Bayswater   87.470588
33            Laurelton   95.333333
34     South Ozone Park   82.400000
35         Belle Harbor  171.500000
36             Glendale   90.796296
37      Cambria Heights   81.730769
38            Rego Park   83.877358
39             Elmhurst   80.459916
40              Bayside  157.948718
41           Whitestone  107.545455
42          Kew Gardens   88.375000
43          Bay Terrace  142.000000
44      Jackson Heights   80.897849
45              Astoria  117.187778
46        Fresh Meadows   99.500000
47             Flushing   93.514085
48        East Elmhurst   81.183784
49             Edgemere   94.727273
50       Middle Village  109.580645

In [5]:
response3 = pd.read_sql("select name, number_of_reviews from airbnb order by number_of_reviews desc limit 10", engine)
response3

                                                name  number_of_reviews
0                            Room near JFK Queen Bed                629
1                            Room Near JFK Twin Beds                576
2                  Steps away from Laguardia airport                543
3  Cozy Room Family Home LGA Airport NO CLEANING FEE                510
4                   My Little Guest Room in Flushing                474
5                    Bright LARGE BED near Manhattan                466
6                Only Steps away from LaGuardia arpt                459
7                                   yahmanscrashpads                454
8             Room steps away from LaGuardia airport                448
9  Safe cute near subway& Manhattan NY NY retro s...                441

In [11]:
response4= pd.read_sql("select room_type, count(room_type) from airbnb group by room_type", engine)
response4

         room_type  count
0  Entire home/apt   2096
1      Shared room    198
2     Private room   3372